.preflightInputContainer {
	width: 45%;
	float: left;
}

.preflightInputContainer label {width: 100px;display:inline-block;}

/*
.ui-dialog {
	z-index:10;
}
*/

.hideTitleBarAndClose .ui-dialog-titlebar {
	display: none;
}

label span span.anycbText {
	font-size: 12px !important;
    height: 21px !important;
    line-height: 17px !important;
}

.pillowProtPopupButtonYes{
	float: left;
	margin-top:20px;
}

.pillowProtPopupButtonNo{
	float: left;
    margin-left: 68px;
	margin-top:20px;
}

.ui-icon-search {
    background-position: -160px -112px;
    left: -2px;
    position: absolute;
}

.youTubeVideoCont div.caroufredsel_wrapper{
}
.youTubeVideoCont{
	float: left;
    position: relative;
    width: 478px;
}
.ytVideoCont{
	float:left;
}
img.prodYTPrev{
	border: medium none;
    cursor: pointer;
    height: 20px;
    position: absolute;
    left: -10px;
	top: 45px;
    width: 20px;
	z-index:2;
}
img.prodYTNext{
	border: medium none;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: -10px;
    top: 45px;
    width: 20px;
    z-index: 2;
}


.catProdListSidebar{
	width:230px;
	float:left;
	border: 1px solid #D2D2D2;
}

#categoryTemplate_hotels div.nativeProductList{
	float:left;
	width: 750px;
}
#categoryTemplate_hotels div.searchFilterResults{
	float:left;
	width: 750px;
}
label.break{
	float:left;
	clear:left;
}
.filterCat{
	float: left;
}
.resetButtonBottom{
	float:left;
}

.searchFilterResults ul.categoryFilterResults{
	margin:0;
	padding:0;
}
.searchFilterResults ul.categoryFilterResults li.searchResultsProduct{
	border: 1px solid #D2D2D2;
	margin: 4px;
    width: 230px;
	height: 430px;
	float:left;
	list-style:none;
}
.filterCategoryCont{
}
.resetButton{
	background-image: url("images/SearchBg.png");
    border: 1px solid #BFBFBD;
    color: #858585;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 9px 30px;
}

#brandCategories{
	display:block;
}

.standardDef{
	display:block;
}
.sixhundredfourtyResolution{
	display:none;
}















/*************************************************************************************
	media querries - responsive design
*************************************************************************************/


/*989 - 800 X 480*/
@media screen and (max-width: 989px) {
	.wrapper{
		width:800px;
	}
	
	/*HEADER*/
	.header_ads{
		float: left;
		height: 50px;
		margin: 21px 0 0 5px;
		width: 180px;
	}
	.header_contact{
		margin: 6px 0 0 5px;
	}
	.header_cart_menu{
		margin-right: 5px;
	}
	#brandCategories li{
		margin: 0;
	}
	.nav_menu ul li a{
		padding: 21px 6px;
	}
	#brandCategories{
		display:block;
	}
	
	
	/*FOOTER*/
	.footer .sign_up_form_inner{
		width: 800px;
	}
	.social_icon{
		padding: 10px 5px 10px 0;
	}
	.sign_up_text{
		padding: 10px;
		width: 160px;
	}
	.sign_up_form_inner form{
		margin: 17px 5px 0 0;
	}
	.sign_up_form_inner form input{
		margin: 0 0 0 5px;
		width: 155px;
	}
	.sign_up_form_inner form input.submit{
		margin: 0 0 0 5px;
	}
	
	.footer .footer_bottom_inner{
		width: 800px;
	}
	.footer_widget{
		width: 169px;
	}
	.footer_copyright{
		width: 795px;
	}
	
	.nav_menu ul li:hover ul.child_menu{
		display:none !important;
	}
	
	
	/*HOMEPAGE*/
	input.productSearchKeyword {
		width: 270px;
	}
	.bannerDuoContainer .stacked{
		margin-right: 235px;
	}
	
	
	/*CATEGORY*/
	#categoryTemplate_hotels div.nativeProductList{
		width: 555px;
	}
	#categoryTemplate_hotels div.searchFilterResults{
		width: 555px;
	}
	
	/*PRODUCT*/
	.standardDef{
		display:block;
	}
	.sixhundredfourtyResolution{
		display:none;
	}
}
/*END 989 - 800 X 480*/



/*799 - 640 X 480*/
@media screen and (max-width: 799px) {
	.wrapper{
		width:640px;
	}
	
	
	/*HEADER*/
	.header_ads{
		margin: 1px 0 0 5px;
	}
	.header_contact{
		clear: left;
		margin: -25px 0 0 240px;
	}
	.header_cart_menu{
		margin-top: -75px;
	}
	.vertical_slider{
		margin-top: -40px;
		width: 170px;
		float: right;
		position: relative;
		overflow: visible;
	}
	#brandCategories{
		bottom: -290px;
		box-shadow: 0 5px 10px #888888;
		position: absolute;
		width: 100px;
		z-index: 50;
		display:none;
		padding: 10px;
		background-color:white;	
	}
	#brandCategories li{
	}
	.showHideBrandsMobile{
		display:block;
		cursor:pointer;
	}
	.nav_menu ul li a{
		padding: 21px 4px;
		font-size: 12px;
	}
	
	
	/*FOOTER*/
	.footer .sign_up_form_inner{
		width:640px;
	}
	.sign_up_form_inner form input{
		margin: 0 0 0 3px;
		width: 85px;
	}
	.sign_up_text{
		padding-right:0;
	}
	.sign_up_form_inner form input.submit{
		width: 80px;
	}
	
	.footer .footer_bottom{
		height: 360px;
	}
	.footer .footer_bottom_inner{
		width: 640px;
	}
	.footer_widget{
		width: 210px;
	}
	.second_last_widget{
		clear:left;
	}
	.footer_copyright{
		float: left;
		margin-top: -60px;
		width: 640px;
	}
	
	
	/*HOMEPAGE*/
	input.productSearchKeyword{
		width: 170px;
	}
	.hotelFinder{
		padding: 9px 15px;
	}
	.hotelFindBlurb{
		float: left;
		font-size: 9px;
		margin-right: 5px;
		padding: 3px 0 0;
		text-align: right;
		width: 170px;
	}
	
	.homeTextBannerBlock{
		width: 47%;
	}
	
	.bannerDuoContainer .stacked{
		margin-right: 160px;
	}
	
	/*CATEGORY*/
	#categoryTemplate_hotels div.nativeProductList{
		margin-left: 5px;
		width: 472px;
	}
	#categoryTemplate_hotels div.searchFilterResults{
		margin-left: 5px;
		width: 472px;
	}
	.catProdListSidebar{
		width:160px;
	}
	.categoryList li, .productList li{
		margin: 2px;
	}
	.filterPriceCat{
		margin: 0;
		padding-left: 4px;
		padding-right: 10px;
	}
	.searchFilterResults ul.categoryFilterResults li.searchResultsProduct{
		margin: 2px;
	}
	
	
	/*PRODUCT*/
	.standardDef{
		display:none;
	}
	.sixhundredfourtyResolution{
		display:block;
	}
	.youTubeVideoCont{
		width: 360px;
	}
	.prodVideoContainer{
		width: 340px;
	}
	#prodDescTopContainer{
		height: auto;
	}
	.filterPriceCat{
	}
}
/*END 799 - 640 X 480*/



/*639 - 480 X 360*/
@media screen and (max-width: 639px) {
	.wrapper{
	}
}
/*END 639 - 480 X 360*/



/*479 - 320 X 480*/
@media screen and (max-width: 479px) {
	.wrapper{
	}
}
/*END 479 - 320 X 480*/