.preflightInputContainer {
	width: 45%;
	float: left;
}

.index{
	margin-top: 60px;
}
#mainContentArea{
}

.preflightInputContainer label {width: 100px;display:inline-block;}

/*
.ui-dialog {
	z-index:10;
}
*/

.hideTitleBarAndClose .ui-dialog-titlebar {
	display: none;
}

label span span.anycbText {
	font-size: 12px !important;
    height: 21px !important;
    line-height: 17px !important;
}

.pillowProtPopupButtonYes{
	float: left;
	margin-top:20px;
}

.pillowProtPopupButtonNo{
	float: left;
    margin-left: 68px;
	margin-top:20px;
}

.ui-icon-search {
    background-position: -160px -112px;
    left: -2px;
    position: absolute;
}

.youTubeVideoCont div.caroufredsel_wrapper{
}
.youTubeVideoCont{
	float: left;
    position: relative;
    width: 478px;
}
.ytVideoCont{
	float:left;
}
img.prodYTPrev{
	border: medium none;
    cursor: pointer;
    height: 20px;
    position: absolute;
    left: -10px;
	top: 45px;
    width: 20px;
	z-index:2;
}
img.prodYTNext{
	border: medium none;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: -10px;
    top: 45px;
    width: 20px;
    z-index: 2;
}


.catProdListSidebar{
	width:230px;
	float:left;
	border: 1px solid #D2D2D2;
}

#categoryTemplate_hotels div.nativeProductList{
	float:left;
	width: 750px;
}
#categoryTemplate_hotels div.searchFilterResults{
	float:left;
	width: 750px;
}
label.break{
	float:left;
	clear:left;
}
.filterCat{
	float: left;
}
.resetButtonBottom{
	float:left;
}

.searchFilterResults ul.categoryFilterResults{
	margin:0;
	padding:0;
}
.searchFilterResults ul.categoryFilterResults li.searchResultsProduct{
	border: 1px solid #D2D2D2;
	margin: 4px;
    width: 230px;
	height: 430px;
	float:left;
	list-style:none;
}
.filterCategoryCont{
}
.resetButton{
	background-image: url("images/SearchBg.png");
    border: 1px solid #BFBFBD;
    color: #858585;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 9px 30px;
}

div.nav_menu div.caroufredsel_wrapper{
	overflow:visible !important;
	position:absolute !important;
	margin-top: 11px !important;
}

#brandCategories{
	display:block;
}

.standardDef{
	display:block;
}
.sixhundredfourtyResolution{
	display:none;
}
.fourHundredEightyResolution{
	display:none;
}

.nav_menu ul li a{
	color: #605B57;
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding: 21px 12px;
    text-decoration: none;
}















/*************************************************************************************
	media querries - responsive design
*************************************************************************************/


/*989 - 800 X 480*/
@media screen and (max-width: 989px) {
	.wrapper{
		width:800px;
	}
	
	/*HEADER*/
	.header_ads{
		float: left;
		height: 50px;
		margin: 21px 0 0 5px;
		width: 180px;
	}
	.header_contact{
		margin: 6px 0 0 5px;
	}
	.header_cart_menu{
		margin-right: 5px;
	}
	#brandCategories li{
		margin: 0;
	}
	.nav_menu ul li a{
		padding: 21px 6px;
	}
	#brandCategories{
		display:block;
	}
	div.nav_menu div.caroufredsel_wrapper{
		overflow:visible !important;
		position:absolute !important;
		margin-top: 10px !important;
	}
	
	
	/*FOOTER*/
	.footer .sign_up_form_inner{
		width: 800px;
	}
	.social_icon{
		padding: 10px 5px 10px 0;
	}
	.sign_up_text{
		padding: 10px;
		width: 160px;
	}
	.sign_up_form_inner form{
		margin: 17px 5px 0 0;
	}
	.sign_up_form_inner form input{
		margin: 0 0 0 5px;
		width: 155px;
	}
	.sign_up_form_inner form input.submit{
		margin: 0 0 0 5px;
	}
	
	.footer .footer_bottom_inner{
		width: 800px;
	}
	.footer_widget{
		width: 169px;
	}
	.footer_copyright{
		width: 795px;
	}
	
	.nav_menu ul li:hover ul.child_menu{
		display:none !important;
	}
	
	
	/*HOMEPAGE*/
	input.productSearchKeyword {
		width: 270px;
	}
	.bannerDuoContainer .stacked{
		margin-right: 235px;
	}
	
	
	/*CATEGORY*/
	#categoryTemplate_hotels div.nativeProductList{
		width: 555px;
	}
	#categoryTemplate_hotels div.searchFilterResults{
		width: 555px;
	}
	
	/*PRODUCT*/
	.standardDef{
		display:block;
	}
	.sixhundredfourtyResolution{
		display:none;
	}
	.fourHundredEightyResolution{
		display:none;
	}
}
/*END 989 - 800 X 480*/



/*799 - 640 X 480*/
@media screen and (max-width: 799px) {
	.wrapper{
		width:640px;
	}
	
	
	/*HEADER*/
	.header_ads{
		margin: 1px 0 0 5px;
	}
	.header_contact{
		clear: left;
		margin: -25px 0 0 240px;
	}
	.header_cart_menu{
		margin-top: -75px;
	}
	.vertical_slider{
		margin-top: -40px;
		width: 170px;
		float: right;
		position: relative;
		overflow: visible;
	}
	#brandCategories{
		bottom: -290px;
		box-shadow: 0 5px 10px #888888;
		position: absolute;
		width: 100px;
		z-index: 50;
		display:none;
		padding: 10px;
		background-color:white;	
	}
	#brandCategories li{
	}
	.showHideBrandsMobile{
		display:block;
		cursor:pointer;
	}
	.nav_menu ul li a{
		padding: 21px 4px;
		font-size: 12px;
	}
	
	div.nav_menu div.caroufredsel_wrapper{
		overflow:visible !important;
		position:absolute !important;
		margin-top: 9px !important;
	}
	
	
	/*FOOTER*/
	.footer .sign_up_form_inner{
		width:640px;
	}
	.sign_up_form_inner form input{
		margin: 0 0 0 3px;
		width: 85px;
	}
	.sign_up_text{
		padding-right:0;
	}
	.sign_up_form_inner form input.submit{
		width: 80px;
	}
	
	.footer .footer_bottom{
		height: 360px;
	}
	.footer .footer_bottom_inner{
		width: 640px;
	}
	.footer_widget{
		width: 210px;
	}
	.second_last_widget{
		clear:left;
	}
	.footer_copyright{
		float: left;
		margin-top: -60px;
		width: 640px;
	}
	
	
	/*HOMEPAGE*/
	input.productSearchKeyword{
		width: 170px;
	}
	.hotelFinder{
		padding: 9px 15px;
	}
	.hotelFindBlurb{
		float: left;
		font-size: 9px;
		margin-right: 5px;
		padding: 3px 0 0;
		text-align: right;
		width: 170px;
	}
	
	.homeTextBannerBlock{
		width: 47%;
	}
	
	.bannerDuoContainer .stacked{
		margin-right: 160px;
	}
	
	/*CATEGORY*/
	#categoryTemplate_hotels div.nativeProductList{
		margin-left: 5px;
		width: 472px;
	}
	#categoryTemplate_hotels div.searchFilterResults{
		margin-left: 5px;
		width: 472px;
	}
	.catProdListSidebar{
		width:160px;
	}
	.categoryList li, .productList li{
		margin: 2px;
	}
	.filterPriceCat{
		margin: 0;
		padding-left: 4px;
		padding-right: 10px;
	}
	.searchFilterResults ul.categoryFilterResults li.searchResultsProduct{
		margin: 2px;
	}
	
	
	/*PRODUCT*/
	.standardDef{
		display:none;
	}
	.sixhundredfourtyResolution{
		display:block;
	}
	.fourHundredEightyResolution{
		display:none;
	}
	.youTubeVideoCont{
		width: 360px;
	}
	.prodVideoContainer{
		width: 340px;
	}
	#prodDescTopContainer{
		height: auto;
	}
	.filterPriceCat{
	}
}
/*END 799 - 640 X 480*/



/*639 - 480 X 360*/
@media screen and (max-width: 639px) {
	.wrapper{
		width:480px;
	}
	.logoContainer{
		margin: 5px 0 0 35px;
	}
	.header_contact{
		margin: 10px 0 0 35px;
	}
	.header_ads{
		margin: 1px 0 0 22px;
	}
	.header_contact p.headerQuestionsText{
		display:none;
	}
	.header_cart_menu{
		margin-right: 60px;
		margin-top: -20px;
	}
	.vertical_slider{
		margin-top: -25px;
		width: 90px;
		height: 20px;
	}
	.showHideBrandsMobile{
	}
	#brandCategories{
		bottom: -165px;
		left: -145px;
		width: 210px;
	}
	.nav_menu ul{
		margin: 2px 0 10px;
	}
	.nav_menu ul li:hover a{
		padding: 24px 3px;
	}
	.nav_menu ul li a{
		font-size: 9px;
		padding: 24px 4px;
	}
	.productSearchForm {
		margin-left: 3px;
	}
	input.productSearchKeyword{
		width: 130px;
	}
	.search{
		width: 65px;
	}
	.dotted{
		width: 5px;
	}
	.hotelFindBlurb{
		padding: 0;
		width: 120px;
	}
	.hotelFinder{
		font-size: 12px;
		margin-right: 5px;
		padding: 9px 3px;
	}
	
	div.nav_menu div.caroufredsel_wrapper{
		overflow:visible !important;
		position:absolute !important;
		margin-top: 1px !important;
	}
	div.nav_menu div.caroufredsel_wrapper ul#tier1categories{
    	width: 480px !important;
	}
	
	
	/*FOOTER*/
	.footer .sign_up_form_inner{
		width: 480px;
		position:relative;
	}
	.social_icon .p{
		margin-right: 0;
	}
	.sign_up_text{
		padding-left: 5px;
		position: absolute;
		right: 5px;
		top: -21px;
		width: 300px;
	}
	.sign_up_text h5{
		float: left;
		margin: 0 10px 0 0;
		width: auto;
	}
	.sign_up_text p{
		float: left;
		font-size: 11px;
		font-weight: bold;
		margin: 0;
		line-height: 20px;
	}
	
	.footer .footer_bottom{
		height: 470px;
	}
	.footer .footer_bottom_inner{
		width: 480px;
	}
	.footer_widget{
		margin-left: 35px;
		width: 200px;
	}
	.second_last_widget{
		clear: none;
	}
	.last_widget{
		clear: left;
	}
	.last_widget h4{
		display:none;
	}
	.footer_copyright{
		float: left;
		margin-top: -60px;
		width: 460px;
	}
	
	
	/*HOMEPAGE*/
	.bannerDuoContainer{
		margin-top: 5px;
	}
	.bannerDuoContainer .stacked{
		margin-right: 80px;
	}
	.homeTextBannerBlock{
		height: 140px;
		width: 46%;
	}
	
	
	/*CATEGORY*/
	.catMediaContainer{
		padding:0;
	}
	.catProdListContainer{
		border:none;
	}
	
	
	/*PRODUCT*/
	.standardDef{
		display:none;
	}
	.sixhundredfourtyResolution{
		display:none;
	}
	.fourHundredEightyResolution{
		display:block;
	}
	.youTubeVideoCont{
		width: 240px;
	}
	.prodVideoContainer{
		width: 222px;
	}
	.prodSummaryContainer{
		width:auto;
	}
	.prodLiveChatCont{
		float: left;
	}
	.prodSummaryContainer h5{
		clear: left;
		float: left;
	}
	#prodViewerReviewSummary{
		clear: left;
		float: left;
	}
	.priceContainer{
		clear: left;
		float: left;
	}
	.savings{
		lear: left;
		float: left;
		margin-left: 0;
	}
	.tabbedProductContentTD .ui-tabs .ui-tabs-nav li{
		overflow: hidden;
	}
	
	
	/*HOTEL FINDER*/
	.catMediaContainer{
		width: 482px;
	}
	.catBigImageContainer{
		border: medium none;
	}
	.catVideoContainer{
		width: 462px;
	}
	#categoryTemplate_hotels div.nativeProductList{
		float: none;
		margin-left: 5px;
		width: auto;
	}
	.nativeProductList ul.productList{
		clear:none;
	}
	#categoryTemplate_hotels div.searchFilterResults{
		float: none;
		margin-left: 5px;
		width: auto;
	}
	.catProdListSidebar{
		width: 239px;
	}
	
}
/*END 639 - 480 X 360*/



/*479 - 320 X 480*/
@media screen and (max-width: 479px) {
	.wrapper{
		width:320px;
	}
	
	/*APP PREVIEW*/
	#appPreView{
		margin: 54px auto;
		width: 320px;
	}
	#appPreView table td:nth-of-type(1){
		padding: 10px 60px 0;
		float:left;
		height: 70px;
	}
	#appPreView table td:nth-of-type(2){
		float: left;
		height: 60px;
		padding: 0 100px;
	}
	
	/*HEADER*/
	.header_top p{
		font-size: 9px;
	}
	
	.header_ads{
		display:none;
	}
	
	.logoContainer{
		margin: 0;
	}
	
	.header_contact {
		margin: 10px 0 0;
	}
	
	.header_cart_menu{
		margin-right: 0;
		margin-top: -33px;
		width: 115px;
	}
	.header_cart_menu ul.cart{
		width: 110px;
	}
	.header_cart_menu ul.account{
		width: 130px;
		margin: 0 0 0 1px;
	}
	.header_cart_menu ul.cart li{
		padding: 7px 4px;
	}
	.header_cart_menu ul.cart li a {
		font-size: 9px;
	}
	#brandCategories{
		bottom: -160px;
		left: -165px;
		width: 200px;
	}
	.vertical_slider{
		height: 20px;
		margin-top: -25px;
		width: 60px;
	}
	
	.nav_menu{
		position:relative;
	}
	.nav_menu ul{
		margin: 14px 0 10px;
	}
	.nav_menu ul li a{
		font-size: 9px;
		padding: 24px 1px;
		text-align: center;
		width: 74px;
	}
	.headerTopNavPrev{
		display: block;
		left: 0;
		position: absolute;
		top: 39px;
	}
	.headerTopNavNext{
		display: block;
		position: absolute;
		right: 0;
		top: 39px;
	}
	div.nav_menu div.caroufredsel_wrapper{
		overflow:hidden !important;
		position:absolute !important;
		margin-top: 14px !important;
	}
	
	
	/*FOOTER*/
	.footer .sign_up_form_inner{
		width: 320px;
	}
	.sign_up_form_inner form{
		float: left;
		margin: 18px 0 0;
	}
	.sign_up_form_inner form input{
		font-size: 9px;
		height: 10px;
		margin: 0 0 0 2px;
		width: 40px;
	}
	.sign_up_form_inner form input.submit{
		font-size: 8px;
		height: 32px;
		margin-left: 2px;
		margin-top: 0;
		padding-bottom: 12px;
		padding-top: 11px;
		width: 43px;
	}
	.sign_up_text{
		right: -10px;
		top: -22px;
	}
	.sign_up_text p{
		line-height: 12px;
	}
	.social_icon{
		margin-top: 20px;
	}
	
	.footer .footer_bottom{
		height: 500px;
	}
	.footer .footer_bottom_inner{
		width: 320px;
	}
	.footer_widget{
		margin-left: 5px;
		width: 155px;
	}
	.footer_copyright{
		margin-top: -10px;
		width: 320px;
	}
	
	
	/*HOMEPAGE*/
	.hotelFindBlurb{
		display:none;
	}
	.hotelFinder{
		font-size: 9px;
		margin-right: 0;
		margin-top: 3px;
		padding: 11px 2px;
	}
	
	.bannerDuoContainer .stacked{
		margin-right: 0;
	}
	.homeTextBannerBlock{
		height: 255px;
		width: 45%;
	}
	.homeTextBannerBlock h1{
		float: left;
		clear: left;
	}
	.homeTextBannerBlock p{
		float: left;
		clear: left;
	}
	
	
	
}
/*END 479 - 320 X 480*/